<div>
  <div id="banner">
    <% @banners.each do |banner| %>
      <%= image_tag(banner) %> 
    <% end %>
  </div>
</div>
<%= render "shared/homepage_taxonomies", :products => @products, :taxon => @taxon %>